<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gada</title>
</head>

<body>
  <div>
    <form action="http://localhost:8000/auth/loginsf" method="post">
      <input type="text" name="loginUrl" />
      <input type="submit" value="Send" />
    </form>
  </div>
</body>

</html>